.bio {
  padding: 50px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 40%;
  flex: 1 0 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.bio img {
  height: 200px;
  width: auto;
  border: 2px solid #f2c215;
  border-radius: 0.2rem;
}

.bio p {
  color: #fff;
  max-width: 400px;
  white-space: normal;
  word-break: break-word;
}

.aboutme {
  max-width: 400px;
  text-align: right;
  margin-top: 20px;
}

@media only screen and (max-width: 1024px) {
  .bio {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .name {
    text-align: center;
  }
}
