.about {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
}
.topTitle {
  border-top: 2px solid #f2c215;
  border-bottom: 2px solid #f2c215;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.moreAbout {
  max-width: 38em;
  margin-top: 20px;
}

/* slide up animations for reactCSSTransitionGroup */
.slide-up-appear {
  opacity: 0.1;
  -webkit-transform: translateY(400px);
  transform: translateY(400px);
}

.slide-up-appear-active {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
