.pageNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.pageNotFound h1 {
  font-size: 8rem;
}

.pageNotFound h3 {
  color: #fff;
  font-size: 2rem;
}
