.App {
  display: flex;
  height: 100vh;
}

.developer__bio {
  flex: 1;
  flex-shrink: 0;
}

.projects {
  flex: 2;
  overflow-y: auto;
}

.contact__info {
  position: fixed;
  left: 0;
  bottom: 0;
}

@media only screen and (max-width: 1024px) {
  .App {
    flex-direction: column;
  }

  .projects {
    overflow-y: visible;
  }

  /* changing the order of the developer__bio, contact__info, projects sections to accommodate mobile devices */

  .developer__bio {
    order: 1;
  }

  .contact__info {
    position: inherit;
    order: 3;
  }

  .projects {
    order: 2;
  }
}
