@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald");
/* font-family: 'Oswald', sans-serif;
font-family: 'Open Sans', sans-serif; */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  overflow-x: hidden;
  background: url(./privateImages/triangles.svg);
  background-size: cover;
  background-position: 100% 100%;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-size: 2rem;
  font-weight: 200;
  margin: 0px;
  font-family: "Oswald", sans-serif;
  position: relative;
  z-index: 10;
}

p {
  font-family: "Open Sans", sans-serif;
}

a {
  color: #f2c215;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  font-size: 1.2rem;
  margin-bottom: 20px;
  background: none;
  -ms-flex-item-align: start;
  align-self: flex-start;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
}

button:nth-of-type(2) {
  margin-top: 20px;
}

.row__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
